@charset "UTF-8";

@font-face {
    font-family: "Patron";
    src: url(fonts/Patron\ -\ PersonalUse.otf) format('opentype');
}

body {
    background-color: #051D3B;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 56px;
    left: 36px;
    top: 32px;
    margin-top: 10px;
}

.logo {
    width: 230px;
    height: 80px;
    margin-right: 10px;
}

header input {
    vertical-align: 40px;
    width: 87%;
    height: 40%;
    padding-left: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.16);
    border: 0px;
    
}

.input-inicial {
    margin-top: 25px;
    display: inline-block;
    width: 820px;
    height: 100px;
}

.usuario {
    display: flex;
    width: 130px;
    margin-top: 34px;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 30px 0 0;
}

.usuario img {
    width: 40px;
    height: 40px;
    border-radius: 80px;
}

.usuario p {
    display: inline;
    vertical-align: 80%;
    color: white;
    padding-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

.centro-da-pagina {
    margin: 40px 40px;
    display: flex;
    justify-content: space-between;
}

.navegacao-principal {
    width: 21%;
    margin-top: 20px;
    display: inline-block;
    vertical-align: top;
}

.navegacao-principal h2 {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: "Patron", sans-serif;
}

.navegacao-principal p {
    color: white;
    display: inline;
}

.div-paginas {
    margin: 10px 0;
}

.icone {
    display: inline-block;
    background-color: #5081FB29;
    padding: 16px;
    border-radius: 16px;
}

.icone:active {
    background-color: #5080fb;
}

.icone-texto {
    vertical-align: 20px;
    margin-left: 10px;
}


@media screen and (max-width: 768px){

    header {
        flex-direction: column;
        align-items: center;
    }

    header input {
        height: 70%;
    }

    .input-inicial {
        order: +1;
        width: 95%;
        height: 200px;
        margin-left: 30px;
    }

}